@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

.container {
    background-color: rgba(184, 183, 181, 0);
    font-family: "Nunito", sans-serif;
    width: 100%;
    padding: 10px;
}

header {
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;
    background-image: url("../img/bg-b-w-small.png");
}

header h1 {
    margin: 0 0 0 10px;
    padding: 0;
    color: whitesmoke;
    font-size: 38px;
    text-transform: lowercase;
    text-decoration: none;
}
/**Navigation**/
nav {
    margin: 0;
    padding: 10px 0 0 0;
}

nav ul li {
    display: inline;
}

nav ul li a:hover {
    color: rgb(158, 3, 3);
}

nav ul li a {
    text-transform: lowercase;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    padding: 10px;
    font-weight: 900;
}

img {
    border-radius: 5px;
    width: 200px;
}

.hide {
    visibility: hidden;
}

/**Socials**/

/**Footer**/
footer {
    text-align: center;
}

/*Media*

